* {
	box-sizing: border-box;
	font-family: 'Lucida Console', 'Courier New', monospace;
}

.container {
	height: 200px;
	width: 500px;
	padding: 20px;
	position: relative;
	border: 3px solid black;
	top: 50%;
	background-color: rgb(153, 255, 255);
	height: 300px;

	border-radius: 5px;
	box-shadow: 0 0 10px 2px;
}

.center {
	position: absolute;
	top: 50%;
	left: 55%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.down {
	position: absolute;
	top: 100%;
	left: 55%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
p {
	width: 50%;
}

.vertical-center {
	position: absolute;
	top: 50%;
	width: 5px;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.vertical-center-right {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-100%, -50%);
	transform: translate(300%, -50%);
}

.btn {
	background-color: blue;
	color: white;
	border-radius: 5px;

	padding: 10px;
	gap: 30px;
	height: 40px;
	width: 100px;
}

.btn:hover {
	color: white !important;
	background-color: #293ce996 !important;
	cursor: pointer;
}

