* {
	box-sizing: border-box;
}

.container {
	height: 200px;
	width: 500px;
	position: relative;
	border: 3px solid green;
	top: 50%;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.vertical-center {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.vertical-center-right {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(100%, -50%);
	transform: translate(100%, -50%);
}